doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Team Information
  style.
    body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 20px;
    }
    .team-info {
    text-align: center;
    margin-bottom: 20px;
    }
    .container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    }
    .info {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    }
    .info img {
    max-width: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
    }
div
  h1  Basketball 
  h2 Teams
.team-info
  // Team Name
  h1 Phoenix sun
.container
  // Coach Information
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\fran.png' alt='Coach Image')
    h2 Coach Information
    p
      strong Name:
      |  Frank Vangel
    p
      strong Age:
      |  64
  br
  br
  // Player 1 Information
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\dbook.png' alt='Player 1 Image')
    h2 Player 1 Information
    p
      strong Name:
      |  David Booker
    p
      strong Age:
      |  20
    p
      strong Position:
      |  Forward
  // Player 2 Information
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\durant.jpg' alt='Player 2 Image')
    h2 Player 2 Information
    p
      strong Name:
      |  Kelvin Durant
    p
      strong Age:
      |  25
    p
      strong Position:
      |  Midfielder
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\brad.png' alt='Player 2 Image')
    h2 Player 2 Information
    p
      strong Name:
      |  Bradley Beal
    p
      strong Age:
      |  25
    p
      strong Position:
      | shooting guard
  // Add more player sections as needed
.team-info
  // Team Name
  h1  Golden state warriors
.container
  // Coach Information
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\kerr.jpg' alt='Coach Image')
    h2 Coach Information
    p
      strong Name:
      | stephen Douglas kerr
    p
      strong Age:
      |  50
    p
      strong Position:
      |  Coach
  br
  // Player 1 Information
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\curry.png' alt='Player 1 Image')
    h2 Player 1 Information
    p
      strong Name:
      |  stephan Curry
    p
      strong Age:
      |  25
    p
      strong Position:
      |  Point guard
  // Player 2 Information
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\klay.png' alt='Player 2 Image')
    h2 Player 2 Information
    p
      strong Name:
      | klay Thompson
    p
      strong Age:
      |  28
    p
      strong Position:
      |  small foward
  // Player 2 Information
  .info
    img(src='C:\Users\lenovo\Documents\sports\images\green.png' alt='Player 2 Image')
    h2 Player 2 Information
    p
      strong Name:
      | Drayward Green
    p
      strong Age:
      |  28
    p
      strong Position:
      | power Forward
  // Add more player sections as needed
