doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title Sports Management System Dashboard
  link(rel='stylesheet' href='public\css\style.css')
  |         @keyframes backgroundChange {
  |             0% { background-image: url(&quot;wembleynew_top-1100x640-1.jpg&quot;); }
header
  h1 Sports Management System Dashboard
nav
  a(href='footphp.html') Football
  a(href='basketball.html') Basketball
  a(href='schedule.html') Schedule
  a(href='result.html') result
  a(href='login.html') Login
main.background-slideshow
  section#basketball
    button(style='border-radius:10%;')
      h2 About Basketball
      h2 Basketball: The Game of Grace and Precision
      h2
        | Basketball, a sport known for its elegance and dynamism, has captured the hearts of millions around the globe.
        br
        |             The rhythmic bounce of the ball, the swift passes, and the exhilarating slam dunks create an atmosphere of
        br
        |             excitement and anticipation. Played on the hardwood, basketball demands precision, teamwork, and an unwavering
        br
        |             commitment to the game. It&apos;s not just a sport; it&apos;s a dance of skill, strategy, and athleticism that
        br
        |             transcends boundaries and unites fans in the joy of the game.
        p
  br
  br

    button(style='border-radius: 10%')
    section#football
      h2 About Football
      p       
      h2
        | Football: The Beautiful Game of Passion and Unity 
        br
      h2
        | Football, or soccer, is often referred to as the &quot;beautiful game,&quot; and for good reason. It&apos;s a sport that
        br
        |             ignites passion and brings people together like no other. The roaring crowds, the skillful footwork, and the
        br
        |             thrilling goals paint a canvas of teamwork and perseverance.From the breathtaking free-kicks to the last-minute
        br
        |             goals, football is a symphony of emotions played on a grassy stage.It&apos;s a universal language that speaks to
        br