doctype html
head
  title Login
  style.
    body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('C:\Users\lenovo\Documents\sports\images\wembleynew_top-1100x640-1.jpg'); /* Specify your background image URL */
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    }
    form {
    background-color: #fff;
    padding: 2em;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
    label {
    display: block;
    margin-bottom: 0.5em;
    }
    input {
    width: 100%;
    padding: 0.5em;
    margin-bottom: 1em;
    }
    submit {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    button {
    background-color: #333;
    color: #fff;
    padding: 0.5em 1em;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    .register-link {
    margin-top: 1em;
    text-align: center;
    }
    .register-link a {
    color: #007bff;
    text-decoration: none;
    }
center
  .container
    h2 Login
    form(action='login.php' method='get')
      p
        label(for='firstName') Username:
        input#firstName(type='text' name='username')
      p
        label(for='Password') Password:
        input#Password(type='text' name='password')
      input(type='submit' value='Submit')
